<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center"> Bienvenue au Journal Dixvoix</h1>
        <h1 class="text-center">Recherche VIP, Articles et Photos</h1>
        <nav style="text-align:center">
        <a href="admin" >Page d'administration</a>
        <a href="accueil" >Page d'accueil</a>
        <a href="article">Page d'article</a>
        </nav>
        <form id="search-form" class="mt-4">
            <div class="input-group">
                <input type="text" id="query" class="form-control" placeholder="Rechercher" required>
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </div>
        </form>